{% extends 'neighbourhood/base.html' %}
{% load crispy_forms_tags %}
{% block content %}



<div class="container-fluid" style="background-image: url(https://cdn.pixabay.com/photo/2017/07/11/00/24/house-2492054__340.png);  background-repeat:no-repeat; height:90vh; width:100%; background-size: cover;">    <a href="{% url 'add_mtaa' %}" class="btn btn-md btn-info mb-2"> New neighbourhood</a>

   
    <div class="row">

        <div class="col-md-4">
            <h2>Select Your Neighbourhood</h2>

                      {% for neighborhood in mitaa_zote %}
                        <a href="{% url 'mtaa' neighborhood.id %}" class='btn btn-primary btn-md'>{{neighborhood.name}}</a> <br>
                        {% endfor %}
        </div>
<div class="col-md-8">
        <h2>Here is our neighbourhood highlights.</h2>
        <div class="table-responsive">
            <table id="dtBasicExample" class="table table-striped table-bordered"  width="100%">
                    <tr class="font-weight-bold">

                        <th class="th-md">Location
                        </th>
                        <th class="th-md">Neighborhood
                        </th>
                        <th class="th-md">description
                        </th>
                        <th class="th-md">Health-Department <br>Contacts
                        </th>
                        <th class="th-md">Police <br>Contacts
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {% for mtaa in mitaa_zote %}
                    <tr>
                        <td>{{ mtaa.location}}</td>
                        <td>{{ mtaa.name}}</td>
                        <td>{{ mtaa.description}}</td>
                        <td>{{ mtaa.health}}</td>
                        <td>{{ mtaa.police}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    </div>
</div>
{% endblock %}